.body{
    background-color: rgb(243, 243, 16);
}
.introduction{
    margin: 8px;
    display: grid;
    grid-template-columns: 75% 25%;
    /* background-color: aqua; */
}

.image1{
    margin-left: 8px;
    height: 280px;
    width: 320px;
    border-radius: 5%;
}

.Projects{
    text-align: center;
    margin-top: 10px;
    /* margin-bottom: 110px; */
}

.Data{
    font-size: large;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

#skills{
    padding-left: 50px;
    margin-left: 30px;
}
#footer{
    margin-top: 10px;
    text-align: center;
    color: white;
    /* background-color: rgba(27, 7, 7, 0.192); */
    
}

.social> ul li{
    /* background-color: aqua; */
    margin-top: 30px;
    padding-left: 20px;
    list-style-type: none;
}


.skills{
    text-align: center;
    margin-bottom:  10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 90px;
}
.skills ul {
    display: inline-block;
    /* margin: 0; */
    /* padding: 0; */
    font-size: 18px;
    
}
.skills li {
    list-style: none;
    /* float: left; */
    /* padding: 2px 5px; */
    /* border: 1px solid black; */
}